<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!produtoEditado">Novo Produto</ion-title>
    <ion-title *ngIf="produtoEditado">Edita Produto</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="produtoForm">
    <ion-item>
      <ion-label stacked>Nome do Produto</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Preço</ion-label>
      <ion-input formControlName="price" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Categoria</ion-label>
      <ion-input formControlName="category" type="text"></ion-input>
    </ion-item>
  </form>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button (click)="cancelar()" ion-button full block color="danger">Cancelar</button>
      </ion-col>
      <ion-col col-6>
        <button (click)="salvar()" ion-button full block color="primary">Salvar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>